*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
iosApp/Configuration/Debug.xcconfig
iosApp/Configuration/Release.xcconfig
.idea
.idea/misc.xml
.claude
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

memo.md
AGENTS.md
CLAUDE.md

google-services.json
*.log
